<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FORTRANsit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>FORTRANsitFramework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>FORTRANsitWidget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8361E9D11DF3224100DB19BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8361E9E51DF3224100DB19BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8361E9F01DF3224100DB19BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8361EA061DF34A9C00DB19BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8361EA1D1DF34C2000DB19BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8361EA251DF34C2000DB19BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
